<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="cn" connectionString="Data Source=CĂTĂLINA;Initial Catalog=formula1_2;Integrated Security=True" />
    </connectionStrings>

    <appSettings>
        <add key="ParentTable" value="TARA" />
        <add key="ChildTable" value="ORAS" />
        <add key="ParentPrimaryKey" value="id_tara" />
        <add key="ChildPrimaryKey" value="id_oras" />
        <add key="ChildForeignKey" value="id_tara" />
        <add key="ParentColumnNames" value="nume,continent" />
        <add key="ChildColumnNames" value="nume,sofer_provenienta_nume,nr_locuitori" />
        <add key="ParentSelectAll" value="SELECT * FROM TARA" />
        <add key="ChildSelectAll" value="SELECT * FROM ORAS WHERE id_tara=@ParentId" />
        <add key="Insert" value="INSERT INTO ORAS(id_tara,nume,sofer_provenienta_nume,nr_locuitori) VALUES(@id_tara,'@nume','@sofer','@locuitori')" />
        <add key="InsertVar" value="@nume,@sofer,@locuitori" />
        <add key="Update" value="UPDATE ORAS SET nume='@nume', sofer_provenienta_nume='@sofer', nr_locuitori='@locuitori' WHERE id_oras=@id_oras" />
        <add key="UpdateVar" value="@nume,@sofer,@locuitori" />
        <add key="Delete" value="DELETE FROM ORAS WHERE id_oras=@id_oras" />

        <!-- <add key="ParentTable" value="ECHIPE" /> -->
        <!-- <add key="ChildTable" value="SOFER" /> -->
        <!-- <add key="ParentPrimaryKey" value="id_echipe" /> -->
        <!-- <add key="ChildPrimaryKey" value="id_sofer" /> -->
        <!-- <add key="ChildForeignKey" value="id_echipe" /> -->
        <!-- <add key="ParentColumnNames" value="nume,an_aparitie" /> -->
        <!-- <add key="ChildColumnNames" value="nume,prenume,varsta,pozitie_podium" /> -->
        <!-- <add key="ParentSelectAll" value="SELECT * FROM ECHIPE" /> -->
        <!-- <add key="ChildSelectAll" value="SELECT * FROM SOFER WHERE id_echipe=@ParentId" /> -->
        <!-- <add key="Insert" value="INSERT INTO SOFER(id_echipe,nume,prenume,varsta,pozitie_podium) VALUES(@id_echipe,'@nume','@prenume','@varsta','@pozitie_podium')" /> -->
        <!-- <add key="InsertVar" value="@nume,@prenume,@varsta,@pozitie_podium" /> -->
        <!-- <add key="Update" value="UPDATE SOFER SET nume='@nume', prenume='@prenume', varsta='@varsta', pozitie_podium='@pozitie_podium' WHERE id_sofer=@id_sofer" /> -->
        <!-- <add key="UpdateVar" value="@nume,@prenume,@varsta,@pozitie_podium" /> -->
        <!-- <add key="Delete" value="DELETE FROM SOFER WHERE id_sofer=@id_sofer" /> -->

    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
</configuration>
