*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#main{
    border: solid 2px black;
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width:700px;
    height:700px;
}

img{
    width:220px;
    height:250px;
    border: solid 40px cadetblue;
}

p{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

li{
    display: inline-block;
    padding: 40px;
    position: relative;
}

