* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    max-height: 80%;
}

li {
    display: flex;
    align-items: center;
    text-align: left;
    gap:10px;
    margin-top: 30px;
    margin-left: 100px;
    min-width: 100px;
    min-height: 50px;
    box-shadow:4px 4px 6px rgba(0, 0, 0, 0.2);
    background: rgba(197, 144, 144, 0.53);
    border-radius: 15px;
    padding-right: 5px;
}

.alice:before, .bob:before {
    background: url('alicebob.jpg') no-repeat;
    background-size: 120px 85px;
    display: inline-block;
    content: '';
    margin-left:-65px;
    height: 60px;
}

.alice:before{
    background-position: 0px -10px;
    width: 15px;
    padding-left: 50px;
}

.bob:before {
    background-position: -65px -10px;
    width: 40px;
    padding-left: 55px;
}

.bob:after, .alice:after{
    content: '';
    position: absolute;
}

